## Ignore build outputs
bin/
obj/
publish/

## Ignore secrets and config
appsettings.json
appsettings.Development.json
*.key
*.pem
secrets.json


.vs/
*.user
*.suo
*.sln.ide

## Ignore logs
*.log
*.db